@import "settings";
@import "foundation";
@import "../bower_components/slick.js/slick/slick";

* {
	outline: none;
}

@font-face {
  font-family: 'HelveticaNeueLTCom-UltLt';
  src: url('../fonts/HelveticaNeueLTCom-UltLt.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTCom-UltLt.woff') format('woff'), url('../fonts/HelveticaNeueLTCom-UltLt.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTCom-UltLt.svg#HelveticaNeueLTCom-UltLt') format('svg');
  font-weight: normal;
  font-style: normal;
}

.checkbox-wrapper {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	background: url('../images/checkbox.png') no-repeat bottom;
	cursor: pointer;
	&.checked {
		background-position: top;
	}
	input[type="checkbox"] {
		opacity: 0;
	}
}

.table-wrapper {
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	overflow: hidden;
}

.row {
	width: 1028px;
}

.alert-box {
	&.alert {
		background: #ffd0d0; 
		text-align: center;
		border: 1px solid #ffa0a0;
	}
	&.warning {
		background: #ffefbd;
		font-size: 13px;
		font-weight: normal;
		color: #595959;
		text-align: center;
		border: 1px solid #fbd14d;
	}
}

.clearfix {
	&:after {
		content: "";
		display: table;
	}
}

a {
	transition: 0.1s all;
}


.pagination {
	li {
		&.current {
			a {
				&:hover {
					background: #14B163 !important;
				}
			}
		}
		a {
			display: block;
			height: 26px;
			color: #343434;
			border: 1px solid #949494;
			border-radius: 2px;
		}
	}
}


.header {
	height: 180px;
	padding-bottom: 37px;
	background: $primary-color;
	position: relative;
	z-index: 10;
	.header-top {
		background: #34424d;
		ul {
			margin: 0; 
			list-style: none;
			&.user-navigation {
				& > li {
					height: 40px;
					padding: 11px 15px;
					background: url(../images/separator.png) no-repeat left center;
					position: relative;
					&:hover {
						.sub-navigation {
							display: block;
						}
					}
					a {
						font-size: 12px;
						color: #bcbcbc;
						&:hover {
							color: $white;
						}
						span {
							float: left;
							margin-top: 2px;
						}
					}
					.fa-sort-down {
						float: right;
						margin-left: 8px;
						font-size: 14px;
					}
					.fa-power-off {
						float: left;
						margin-right: 8px;
						font-size: 18px;
					}
					.flag {
						float: left;
						display: inline-block;
						width: 23px;
						height: 22px;
						margin-right: 8px;
						margin-top: -2px;
						background: url(../images/flag-1.png) no-repeat;
					}
				}
				.sub-navigation {
					display: none;
					width: 190px;
					position: absolute;
					top: 41px;
					right: 0;
					z-index: 9999;
					li {
						display: block;
						float: none;
						border-bottom: 1px solid #5a6874;
						a {
							display: block;
							padding: 10px 15px;
							background: #34424d;
							&:hover {
								background: #1e5b53;
							}
						}
					}
				}
			}
			li {
				float: right;
			}
		}
	}
	.header-bottom {
		padding: 15px 0 30px 0;
		.header-socials {
			margin-top: 25px;
		}
	}
	.navigation-main {
		background: $white;
		-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.13);
		-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.13);
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.13);
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(239,239,239,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef', GradientType=0 );
		ul {
			margin: 0;
			list-style: none;
			& > li {
				background: url(../images/separator2.png) no-repeat right center;
				&:last-child {
					background: none;
				}
				&:last-child {
					background: none;
				}
				&.has-dropdown {
					& > a {
						&:after {
							bottom: 10px;
							right: 50%;
							color: #dddddd;
							content: "";
							font-family: "FontAwesome";
							position: absolute;
							right: 50%;
						}
					}
				}
			}
			li {
				display: inline-block;
				position: relative;
				&:hover {
					.sub-navigation {
						opacity: 1;
						visibility: visible;
					}
				}
				&.active {
					a {
						color: #26343f;
						border-top: 3px solid #187962;
						&:after {
							color: #26343f;
						}
					}
				}
				&:last-child {
					a {
						padding: 25px 28px 28px 28px;
					}
				}
				a {
					display: block;
					padding: 28px 24px;
					padding-top: 25px; 
					font: bold 14px 'Montserrat';
					color: #999999;
					border-top: 3px solid $white;
					transition: .4s all;
					&:hover {
						color: #26343f;
						border-top: 3px solid #187962;
						&:after {
							color: #26343f;
						}
					}
				}
				.sub-navigation {
					opacity: 0;
					visibility: hidden;
					width: 190px;
					position: absolute;
					top: 74px;
					left: 0;
					z-index: 9999;
					transition: .2s all;
					li {
						display: block;
						float: none;
						border-bottom: 1px solid #5a6874;
						a {
							display: block;
							padding: 13px 15px;
							background: #34424d;
							font-weight: normal;
							font-size: 12px;
							color: $white;
							border-top: 0;
							&:hover {
								background: #1e5b53;
							}
						}
					}
				}
			}
		}
	}
}


.footer {
	background: $primary-color;
	color: #607b8f;
	h6 {
		margin-top: 50px;
		padding: 0 4px;
		font-weight: bold;
		font-size: 14px;
		color: inherit;
	}
	a {
		color: inherit;
	}
	p {
		font-size: 12px;
		line-height: 14px;
	}
	ul {
		margin: 0;
		list-style: none;
		li {
			margin-top: 5px;
			a {
				padding: 0 4px;
				font-size: 14px;
				&:hover {
					display: inline-block;
					background: #197a63;
					color: $white;
				}
			}
		}
	}
	.footer-top {
		padding: 30px 0;
		.logo {
			margin-bottom: 30px;
		}
		.footer-paypal {
			margin-top: 43px;
		}
	}
	.footer-bottom {
		padding: 30px 0;
		background: #26343f;
		img {
			float: left;
			margin-right: 30px;
		}
		.copyright {
			float: left;
			display: inline-block;
			margin-top: 6px;
			font-size: 12px;
			line-height: 14px;
		}
		.socials {
			a {
				opacity: .5;
				transition: .2s all;
				&:hover {
					opacity: 1;
				}
				img {
					float: none;
					margin-top: 7px;
					margin-right: 0;
					margin-left: 20px;
				}
			}
		}
	}
}


.page-header {
	background: #e0e0e0;
	.banner {
		width: 100%;
		margin-top: 15px;
	}
	.breadcrumbs {
		margin: 0;
		padding: 15px 0;
		a {
			text-decoration: underline;
		}
	}
	.cv-code {
		padding: 15px 0;
		font-size: 9px;
		color: #a2a2a2;
	}
	.page-title-details {
		.page-title {
			float: left;
			width: 668px;
			height: 72px;
			padding-left: 20px;
			padding-top: 13px;
			background: $white;
			border-left: 4px solid #5fa281;
			&.page-title-normal {
				width: 828px;
				margin-bottom: 25px;
				padding-top: 21px;
			}
			&.extended {
				width: 828px;
			}
			h1 {
				font: bold 30px/30px 'Montserrat';
				color: #205a4c;
			}
			h3 {
				font-size: 12px;
				color: #939393;
			}
		}
		.page-title-icon {
			float: left;
			width: 170px;
			height: 72px;
			padding-left: 27px;
			padding-top: 18px;
			background: url(../images/page-title.png) no-repeat left #5fa281;
			text-align: center;
			color: $white;
		}
		.page-price {
			float: left;
			width: 130px;
			height: 72px;
			padding-left: 27px;
			padding-top: 7px;
			background: url(../images/page-title.png) no-repeat left #6db893;
			font-weight: bold;
			font-size: 36px;
			color: $white;
			text-align: center;
		}
		.cv-found {
			float: left;
			width: 170px;
			height: 72px;
			padding-left: 27px;
			padding-top: 12px;
			background: url(../images/page-title.png) no-repeat left #6db893;
			text-align: center;
			color: $white;
			.nr {
				display: block;
				font-size: 36px;
				font-weight: bold;
				line-height: 36px;
			}
			small {
				display: block;
				font-size: 10px;
				text-align: center;
			}
		}
		.purchase {
			float: left;
			width: 200px;
			height: 72px;
			padding-top: 20px;
			background: #205a4c;
			font: bold 24px/18px 'Montserrat';
			color: $white;
			text-align: center;
			border-bottom: 4px solid #0d4e3e;
			transition: .1s all;
			&:hover {
				background: #1e6554;
			}
			small {
				display: block;
				font-size: 9px;
				font-weight: normal;
				color: #3bb094;
			}
		}
	}
	.sort-by {
		margin: 23px 0;
		label {
			float: left;
			margin: 7px 20px 0 0;
		}
		select {
			float: left;
			width: 180px;
			margin: 0;
			font-size: 11px;
			color: #6c6c6c;
			border-radius: 4px;
		}
	}
	.page-description {
		padding: 15px 0;
		p {
			margin: 0;
			color: #595959;
		}
	}
	.cv-navigation {
		margin: 0;
		list-style: none;
		li {
			float: left;
			margin-right: 1px;
			text-align: center;
			&.active {
				a {
					background: $white;
					border-color: $white;
					&:hover {
						background: $white;
						border-color: $white;
					}
					span {
						color: #5fa281;
					}
					img {
						display: none;
						&.image-active {
							display: inline-block;
						}
					}
				}
			}
			a {
				display: block;
				width: 140px;
				height: 66px;
				padding-top: 8px;
				background: #5fa281;
				border-bottom: 4px solid #478265;
				transition: .1s all;
				&:hover {
					background: #6db893;
					border-color: #579f7b;
				}
				span {
					display: block;
					font: bold 12px 'Montserrat';
					color: $white;
					text-align: center;
				}
				img {
					margin-top: 5px;
					&.image-active {
						display: none;
					}
				}
			}
		}
	}
	.cv-actions {
		margin-top: 6px;
		border: 1px solid #c0c0c0;
		border-radius: 10px;
		ul {
			margin: 0;
			list-style: none;
			li {
				float: right;
				text-align: center;
				border-right: 1px solid #d6d6d6;
				&:first-child {
					border-right: none;
					a {
						width: 66px;
						border-radius: 0 10px 10px 0;
					}
				}
				&:last-child {
					a {
						border-radius: 10px 0 0 10px;
					}
				}
				a {
					display: block;
					width: 65px;
					height: 50px;
					padding-top: 13px;
					background: #f1f1f1;
					&:hover {
						background: $white;
					}
				}
			}
		}
	}
	#show-additional-filters {
		display: inline-block;
		width: 36px;
		margin: 30px 30px 0 0;
		color: #129e59;
		cursor: pointer;
		&:hover,
		&.active {
			.fa-filter {
				color: #14b163;
			}
			.fa-sort-down {
				color: #14b163;
			}
		}
		.fa-filter {
			float: left;
			margin-top: 3px;
			margin-right: 5px;
			font-size: 24px;
			color: #676767;
			transition: .2s all;
		}
		.fa-sort-down {
			font-size: 15px;
			color: $black;
			transition: .2s all;
		}
	}
}


/* Home */
.slideshow {
	width: 100%;
	height: 590px;
	padding-top: 60px;
	background: #f0f0f0;
	text-align: center;
	position: relative;
	z-index: 1;
	img {
		display: inline-block;
		&.full-width {
			width: 100%;
			height: 530px;
		}
	}
	h1 {
		margin-top: 30px;
		font: bold 48px/42px 'Montserrat';
		color: #44596e;
		text-transform: uppercase;
	}
	h3 {
		font: bold 18px 'Montserrat';
		color: #5fc8d1;	
		text-transform: uppercase;
	}
	p {
		color: #676767;
	}
	.slick-arrow {
		width: 51px;
		height: 51px;
		padding: 0;
		text-indent: -99999px;
		background: url(../images/slide-arrows.png) no-repeat;
		position: absolute;
		top: 270px;
		z-index: 9999;
		opacity: 0.7;
		transition: .2s all;
		&:hover {
			opacity: 1;
		}
		&.slick-prev {
			background-position: left;
			left: 250px;
		}
		&.slick-next {
			background-position: right;
			right: 250px;
		}
	}
	.slick-dots {
		width: 100%;
		margin: 0;
		text-align: center;
		list-style: none;
		position: absolute;
		bottom: 10px;
		li {
			display: inline-block;
			margin: 0 8px;
			&.slick-active {
				button {
					background: #25404b;
				}
			}
			button {
				width: 10px;
				height: 10px;
				margin: 0;
				padding: 0;
				background: none;
				border: 1px solid #25404b;
				text-indent: -99999px;
				border-radius: 10px;
				&:hover {
					background: #25404b;
				}
			}
		}
	}
}


section {
	padding: 60px 0;
	.section-title {
		display: inline-block;
		margin-bottom: 50px;
		padding-bottom: 10px;
		color: #595959;
		line-height: 24px;
		position: relative;
		span {
			display: inline-block;
			margin: 0 auto;
			width: 100px;
			border-bottom: 2px solid #187962;
		}
	}

	&.why-us {
		height: 580px;
		padding-top: 110px;
		img {
			margin-bottom: 15px;
		}
		h3 {
			padding-left: 15px;
		}
		p {
			padding-left: 15px;
			color: #939393;
		}
	}

	&.get-your-cv {
		height: 580px;
		background: url(../images/get-your-cv.jpg) no-repeat;
		background-size: cover;
		.section-title {
			margin-bottom: 120px;
			color: $white;
			border-color: #187962;
		}
	}

	&.our-team {
		background: #f0f0f0;
		.section-title {
			margin-bottom: 60px;
		}
		.our-team-content {
			padding: 40px;
			background: $white;
		}
		.our-team-content {
			-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.11);
			-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.11);
			box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.11);
			h3 {
				margin-bottom: 5px;
				font: 18px 'Montserrat';
				color: #205a4c;
			}
			p {
				margin: 0;
				font-size: 13px;
				color: #939393;
			}
		}
		.our-team-carousel {
			margin-top: 75px;
			padding: 0 50px;
			.image-wrapper {
				height: 340px;
				height: 340px;
				transition: opacity 1s ease-in-out;
				position: relative;
				&:hover {
					.shadow {
						opacity: 1;
					}
				}
				img {
					position: absolute;
					top: 13px;
					left: 15px;
				}
				.shadow {
					width: 100%;
					height: 300px;
					background: url(../images/team-shadow.png) no-repeat center;
					opacity: 0;
					transition: .2s all;
				}
			}
			img {
				display: inline-block;
			}
			h3 {
				margin-top: 20px;
				font: 18px 'Montserrat';
				color: #595959;
			}
			h6 {
				font-size: 14px;
				color: #939393;
			}
			.slick-arrow {
				width: 51px;
				height: 51px;
				padding: 0;
				text-indent: -99999px;
				background: url(../images/slide-arrows.png) no-repeat;
				position: absolute;
				top: 110px;
				opacity: 0.7;
				transition: .2s all;
				&:hover {
					opacity: 1;
				}
				&.slick-prev {
					background-position: left;
					left: 0;
				}
				&.slick-next {
					background-position: right;
					right: 0;
				}
			}
		}
	}

	&.home-designs {
		background: $primary-color;
		.designs-list {
			margin-top: 70px;
		}
		.button {
			width: 190px;
			margin-top: 30px;
			padding: 19px 5px;
			background: none;
			font-family: 'Montserrat';
			font-size: 14px;
			color: #a3a3a3;
			border: 1px solid #52606c;
			&:hover,
			&.active {
				background: #1e4b40;
				color: $white;
				border-color: #2d6d5d;
			}
		}
		.design-item {
			.image-wrapper {
				border: 1px solid #344450;
				border-radius: 4px;
				position: relative;
				&:hover {
					img {
						opacity: 0;
					}
					.image-details {
						.actions {
							opacity: 1;
						}
					}
				}
				img {
					width: 100%;
					transition: .2s all;
				}
				.image-details {
					.actions {
						width: 100%;
						text-align: center;
						position: absolute;
						top: 80px;
						opacity: 0;
						transition: .1s all;
						a {
							display: inline-block;
							width: 42px;
							height: 42px;
							margin: 0 5px;
							background: #374754;
							padding: 10px;
							border-radius: 50px;
							text-align: center;
							&:hover {
								background: #667582;
								i {
									color: $white;
									opacity: 1;
								}
							}
							i {
								display: inline-block;
								font-size: 20px;
								color: #6f7981;
								opacity: 0.4;
								transition: .1s all;
								&.link {
									width: 21px;
									height: 22px;
									background: url(../images/icon-link.png) no-repeat center;
								}
								&.delete {
									width: 22px;
									height: 22px;
									background: url(../images/icon-delete.png) no-repeat center;
								}
								&.heart {
									width: 20px;
									height: 22px;
									background: url(../images/icon-heart.png) no-repeat center;
								}
								&.zoom {
									width: 22px;
									height: 22px;
									background: url(../images/icon-zoom.png) no-repeat center;
								}
							}
						}
					}
				}
			}
			.design-details {
				margin-top: 10px;
				border: 1px solid #354450;
				border-radius: 2px;
				cursor: pointer;
				transition: .3s all;
				&:hover {
					background: #2d6d5d;
					border-color: #295b53;
					h4 {
						background: #1c5043;
						color: $white;
					}
					.price {
						background: #226151;
						color: $white;
						border-color: #295b53;
					}
				}
				h4 {
					float: left;
					width: 237px;
					height: 43px;
					padding: 11px 15px;
					font-size: 14px;
					color: #a3a3a3;
					transition: .1s all;
				}
				.price {
					float: right;
					width: 80px;
					height: 43px;
					padding: 10px;
					font: 17px 'Montserrat';
					line-height: 1.4;
					text-align: center;
					color: #a3a3a3;
					border-left: 1px solid #354450;
					transition: .1s all;
				}
			}
		}
	}

	&.designs {
		.designs-list {
			width: 1018px;
			margin: 0 auto;
		}
		.design-item {
			.image-wrapper {
				display: none;
				background: url(../images/loading.gif) no-repeat center;
				border-radius: 4px;
				img {
					width: 100%;
				}
				.arrow-wrapper {
					width: 32px;
					height: 37px;
					padding-top: 9px;
					background: #9aa3ab;
					text-align: center;
					border-radius: 4px;
					position: absolute;
					top: 5px;
					z-index: 9999;
					cursor: pointer;
					transition: .1s all;
					&:hover {
						background: #bec2c5;
					}
					&.right-arrow {
						right: 5px;
					}
					&.left-arrow {
						right: 42px;
					}
					i {
						color: $white;
					}
				}
				.slick-dots {
					width: 100%;
					margin: 0;
					list-style: none;
					text-align: center;
					position: absolute;
					bottom: 5px;
					li {
						display: inline-block;
						margin: 0 3px;
						&.slick-active {
							button {
								background: rgba(0, 0, 0, 0.5);
							}
						}
						button {
							width: 10px;
							height: 10px;
							padding: 0;
							background: none;
							text-indent: -9999px;
							border: 2px solid rgba(0, 0, 0, 0.2);
							border-radius: 50px;
						}
					}
				}
			}
			.design-details { 
				background: #e8e8e8;
				border-radius: 0 0 2px 2px;
				cursor: pointer;
				position: relative;
				&:hover {
					.favorite {
						opacity: 1;
					}
				}
				h4 {
					float: left;
					width: 238px;
					height: 56px;
					padding: 11px 15px;
					padding-top: 14px;
					font-size: 14px;
					font-weight: bold;
					color: #26343f;
					span {
						display: block;
					}
					small {
						display: block;
						margin-top: 7px;
						font-size: 12px;
						font-weight: normal;
						color: #939393;
					} 
				}
				.price {
					float: right;
					width: 80px;
					padding: 17px 10px 16px 10px;
					font: 17px 'Montserrat';
					text-align: center;
					color: #5fa281;
					border-left: 1px solid $white;
					transition: .1s all;
				}
				.favorite {
					opacity: 0;
					width: 82px;
					height: 56px;
					padding-top: 9px;
					background: #f5f5f5;
					text-align: center;
					position: absolute;
					top: 0;
					right: 80px;
					transition: .1s all;
					i {
						font-size: 24px;
						color: $red;
					}
					span {
						display: block;
						margin-top: 3px;
						font-size: 12px;
						color: #595959;
					}
				}
			}
		}
	}
	
	&.testimonials {
		background: #f0f0f0;
		.testimonial {
			&.testimonial2 {
				margin-top: 100px;
			}
			.bubble {
				padding: 30px 30px 30px 77px;
				background: $white;
				position: relative;
				-webkit-box-shadow: 0px 1px 5px -3px rgba(0,0,0,0.42);
				-moz-box-shadow: 0px 1px 5px -3px rgba(0,0,0,0.42);
				box-shadow: 0px 1px 5px -3px rgba(0,0,0,0.42);
				p {
					margin: 0;
					font: italic 18px 'Source Sans Pro';
					color: #666666;
				}
				.quotes {
					width: 45px;
					height: 45px;
					background: url(../images/quotes.png) no-repeat;
					position: absolute;
					top: 32px;
					left: 0;
				}
				.triangle {
					display: block;
					width: 28px;
					height: 22px;
					background: url(../images/testimonial-triangle.png) no-repeat;
					position: absolute;
					bottom: -22px;
					left: 35px;
				}
			}
			h5 {
				margin-top: 27px;
				font: 18px 'Montserrat';
				color: #595959;
			}
			h6 {
				font-size: 14px;
				color: #888888;
			}
		}
	}

	&.partners {
		background: $secondary-color;
		.section-title {
			color: $white;
			border-color: #187962;
		}
		img {
			opacity: .7;
		}
		.button {
			margin-top: 45px;
			background: none;
			font-size: 14px;
			color: #499a86;
			border: 1px solid #1e4b40;
			&:hover {
				background: #1e4b40;
				color: $white;
			}
		}
	}

	&.create-cv-in-minutes {
		margin-bottom: 6px;
		padding: 0;
		background: url(../images/create-cv-in-minutes.png) repeat-y center;
		background-size: 100%;
		.columns {
			height: 360px;
			background: url(../images/create-cv-in-minutes-columns.jpg) no-repeat left;
			.lets-get-started {
				height: 54px;
				padding-left: 63px;
				padding-top: 28px;
				background: url(../images/lets-get-started.png) no-repeat left;
				font-size: 12px;
				color: $white;
				position: absolute;
				top: 0;
				left: 380px;
			}
			.create-cv-in-minutes-content {
				padding-top: 100px;
				padding-left: 440px;
				h1 {
					font-family: 'HelveticaNeueLTCom-UltLt';
					font-size: 64px;
					line-height: 64px;
					color: #4caf70;
				}
				h2 {
					padding-left: 15px;
					font-size: 41px;
					font-weight: bold;
					line-height: 41px;
					color: #f5f5f5;
				}
				h3 {
					padding-left: 10px;
					font-size: 25px;
					font-weight: 900;
					line-height: 25px;
					color: #d6fff5;
				}
				h6 {
					margin-top: 15px;
					padding-left: 20px;
					font-size: 13px;
					line-height: 10px;
					color: #f5f5f5;
				}
			}
		}
	}

	&.likes-reviews-downloads {
		margin-bottom: 38px;
		padding: 0;
		background: url(../images/bg1.jpg) repeat-y center;
		background-size: 100%;
		.columns {
			height: 105px;
			background: url(../images/likes-reviews-downloads.jpg) no-repeat right;
			ul {
				margin: 0;
				list-style: none;
				li {
					float: right;
					width: 170px;
					padding-top: 19px;
					text-align: center;
					h3 {
						margin-top: 3px;
						font: bold 27px/27px 'Montserrat';
						color: #5fa281;
					}
					h6 {
						font: 12px 'Montserrat';
						color: #5fa281;
					}
				}
			}
		}
	}

	&.cv-slideshow {
		margin-top: 80px;
		padding: 0;
		.slick-slide {
			text-align: center;
			img {
				display: inline-block;
			}
		}
		.slick-arrow {
			width: 51px;
			height: 51px;
			padding: 0;
			text-indent: -99999px;
			background: url(../images/slide-arrows.png) no-repeat;
			position: absolute;
			top: 230px;
			z-index: 9999;
			&.slick-prev {
				background-position: left;
				left: 10px;
			}
			&.slick-next {
				background-position: right;
				right: 10px;
			}
		}
	}

	&.features {
		padding: 0;
		background: url(../images/features-list-bg.png) repeat-y center;
		background-size: 100%;
		.feature-list {
			float: left;
			width: 740px;
			height: 403px;
			background: url(../images/features.jpg) no-repeat right #f9f9f9;
			h2 {
				padding: 0 147px 20px;
				font-weight: 100;
				font-size: 35px;
				color: #676767;
				text-align: right;
			}
			ul {
				margin: 0;
				list-style: none;
				li {
					text-align: right;
					p {
						padding-right: 6px;
					}
					&:first-child {
						margin-bottom: 25px;
						padding-right: 170px;
					}
					&:nth-child(2) {
						margin-bottom: 34px;
						padding-right: 192px;
					}
					&:nth-child(3) {
						margin-bottom: 34px;
						padding-right: 222px;
					}
					&:nth-child(4) {
						margin-bottom: 34px;
						padding-right: 250px;
					}
					&:nth-child(5) {
						padding-right: 278px;
					}
					h5 {
						font-weight: bold;
						font-size: 16px;
						line-height: 16px;
						color: #226152;
					}
					p {
						font-size: 13px;
						color: #434343;
					}
				}
			}
		}
		.socials-box {
			float: right;
			width: 130px;
			margin-top: 130px;
			margin-right: 100px;
			border: 1px solid #ebebeb;
			border-radius: 4px;
			ul {
				margin: 0;
				list-style: none;
				li {
					padding: 15px;
					text-align: center;
					border-bottom: 1px solid #ebebeb;
					cursor: pointer;
					&:hover {
						background: #fafafa;
					}
				}
			}
		}
	}

	&.dream-job {
		width: 100%;
		height: 300px;
		margin-top: 100px;
		background: url(../images/dream-job.png) no-repeat bottom;
		background-size: 100%;
		h2 {
			font-family: 'HelveticaNeueLTCom-UltLt';
			font-size: 40px;
			color: #595959;
		}
		h3 {
			font-size: 44px;
			font-weight: bold;
			color: #5fa281;
		}
	}

}


.additional-filters {
	display: none;
	width: 998px;
	background: $white;
	border: 1px solid #14b163;
	position: absolute;
	left: 15px;
	top: 0;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.27);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.27);
	h4 {
		padding: 10px;
		font-size: 14px;
		font-weight: bold;
		color: #205a4c;
		border-bottom: 1px solid #e9e9e9;
		.close {
			float: right;
			width: 22px;
			height: 22px;
			padding-top: 1px;
			background: #1c5043;
			text-align: center;
			border-radius: 3px;
			cursor: pointer;
			transition: .2s all;
			&:hover {
				background: #1e6554;
			}
			i {
				font-size: 18px;
				color: $white;
			}
		}
	}
	label {
		margin-top: 10px;
		margin-bottom: 5px;
	}
	input {
		border-radius: 3px;
	}
	select {
		border-radius: 3px;
	}
	input[type="submit"] {
		margin-top: 40px;
		padding: 6px 15px;
		background: #1c5043;
		font-size: 14px;
		font-weight: bold;
		color: $white;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		transition: .2s all;
		&:hover {
			background: #1e6554;
		}
	}
}


/* CV Design */
.main-content {
	padding: 60px 0 100px 0;
	.how-it-works-video {
		height:  561px;
		border-radius: 6px;
		position: relative;
		.video-overlay {
			width: 100%;
			height: 561px;
			background: rgba(#478265, .5);
			border-radius: 6px;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 99999;
			.play {
				display: block;
				width: 258px;
				height: 259px;
				margin: 0 auto;
				margin-top: 160px;
				background: url(../images/how-it-works-video.png) no-repeat;
			}
		}
		video {
			display: block;
			width: 100%;
			height: 561px;
			border-radius: 6px;
			position: absolute;
			z-index: 1;
			-webkit-transform-style: preserve-3d;
		}
	}
}


/* Reviews */
.reviews-wrapper {
	float: left;
	width: 710px;
}
.reviews-list {
	padding-right: 20px;
	.sort-by {
		margin-bottom: 23px;
		select {
			float: right;
			width: 180px;
			margin: 0;
			font-size: 11px;
			color: #6c6c6c;
			border-radius: 4px;
		}
		label {
			float: right;
			margin: 7px 20px 0 0;
		}
	}
	.review-item {
		margin-bottom: 40px;
		border: 1px solid #d6d6d6;
		border-radius: 4px;
		.review-header {
			border-bottom: 1px solid #d6d6d6;
			h2 {
				float: left;
				padding: 15px 20px;
				font: bold 18px 'Open Sans';
				color: #595959;
			}
			.review-header-right {
				float: right;
				width: 220px;
				padding: 7px 20px;
				text-align: right;
				.review-stars {
					.fa-star {
						color: #ff6905;
						&.empty {
							color: #c4c4c4;
						}
					}
				}
				.review-date {
					font-size: 12px;
					color: #939393;
				}
			}
		}
		.review-content {
			padding: 10px 20px;
			p {
				margin: 0;
				font: 14px 'Open Sans';
				color: #6c6c6c;
			}
		}
	}
}

.total-rating {
	float: right;
	width: 280px;
	padding: 15px;
	background: #f4f4f4;
	text-align: center;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	h3 {
		font-weight: bold;
		font-size: 30px;
		color: #205a4c;
	}
	h4 {
		font-size: 12px;
		color: #595959;
	}
	.total-stars {
		margin-top: 10px;
		.fa-star {
			margin: 0 3px;
			font-size: 26px;
			color: #ff6905;
			&.empty {
				color: #c4c4c4;
			}
		}
	}
}


/* Contact us */
.contact-form-wrapper {
	padding-right: 55px;
	border-right: 1px solid #e1e1e1;
	h2 {
		font-size: 30px;
		color: #205a4c;
	}
	h6 {
		font-size: 14px;
		color: #949494;
	}
	p {
		position: relative;
	}
	form {
		margin-top: 30px;
	}
	label {
		margin-bottom: 5px;
		font: bold 14px 'Montserrat';
		color: #5fa281;
		em {
			font-style: normal;
			font-size: 18px;
			color: $red;
		}
		&.error {
			display: block;
			width: 210px;
			padding: 9px 14px 8px 50px;
			background: url(../images/warning.png) no-repeat 13px center $red;
			font-weight: normal;
			font-size: 12px;
			color: $white;
			border-radius: 4px;
			position: absolute;
			top: 16px;
			right: -237px;
			cursor: default;
			z-index: 9999;
			&:after {
				left: auto;
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(217, 0, 0, 0);
				border-right-color: #d90000;
				border-width: 5px;
				margin-top: -5px;
			}
		}
	}
	input[type="text"],
	input[type="email"],
	select {
		height: 65px;
		border-radius: 4px;
		&.error {
			background: url(../images/error.png) no-repeat right 8px center $white;
			border: 1px solid $red;
		}
	}
	textarea {
		height: 300px;
		border-radius: 4px;
		&.error {
			background: url(../images/error.png) no-repeat right 8px center $white;
			border: 1px solid $red;
		}
	}
	.button {
		padding: 0;
		background: none;
		&:hover {
			.name {
				background: #1e6554;
			}
		}
		.icon-wrapper {
			float: left;
			width: 64px;
			height: 58px;
			padding-top: 15px;
			background: #197a63;
			text-align: center;
			border-radius: 4px 0 0 4px;
		}
		.name {
			float: left;
			width: 120px;
			height: 58px;
			padding-top: 20px;
			background: #1c5043;
			font-family: 'Montserrat';
			border-radius: 0 4px 4px 0;
			transition: .2s all;
		}
	}
}

.contact-address {
	padding-left: 30px;
	p {
		font-size: 18px;
		color: #595959;
	}
}


/* Register page */
.register-content {
	h1 {
		font-size: 36px;
		color: #5fa281;
	}
	p {
		font-size: 14px;
		color: #6c6c6c;
		a {
			color: #5fa281;
		}
	}
	.or {
		position: relative;
		z-index: 1;
		&:before {
		    border-top: 1px solid #dfdfdf;
		    content:"";
		    margin: 0 auto; 
		    position: absolute;
		    top: 50%; left: 0; right: 0; bottom: 0;
		    z-index: -1;
		}
		span { 
		    background: #fff; 
		    padding: 0 15px; 
		}
	}
	form {
		width: 430px;
		margin: 0 auto;
		p {
			position: relative;
		}
		label {
			margin-bottom: 5px;
			font: bold 14px 'Montserrat';
			color: #5fa281;
			em {
				font-style: normal;
				font-size: 18px;
				color: $red;
			}
			&.error {
				display: block;
				width: 210px;
				padding: 9px 14px 8px 50px;
				background: url(../images/warning.png) no-repeat 13px center $red;
				font-weight: normal;
				font-size: 12px;
				color: $white;
				border-radius: 4px;
				position: absolute;
				top: 44px;
				right: -237px;
				cursor: default;
				&:after {
					left: auto;
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(217, 0, 0, 0);
					border-right-color: #d90000;
					border-width: 5px;
					margin-top: -5px;
				}
			}
		}
		input[type="text"],
		input[type="email"],
		input[type="password"],
		select {
			height: 65px;
			border-radius: 4px;
			&.error {
				background: url(../images/error.png) no-repeat right 8px center $white;
				border: 1px solid $red;
			}
		}
		.checkbox-wrapper {
			float: left;
		}
		.remember-me {
			float: left;
			font: bold 14px 'Montserrat';
			color: #5fa281;
		}
		.forgot-password {
			font: normal 14px 'Montserrat';
			color: #205a4c;
			text-decoration: underline;
		}
		.button {
			margin-top: 15px;
			padding: 0;
			background: none;
			&:hover {
				.name {
					background: #1e6554;
				}
			}
			.icon-wrapper {
				float: left;
				width: 64px;
				height: 58px;
				padding-top: 15px;
				background: #197a63;
				text-align: center;
				border-radius: 4px 0 0 4px;
			}
			.name {
				float: left;
				width: 366px;
				height: 58px;
				padding-top: 20px;
				background: #1c5043;
				font-family: 'Montserrat';
				border-radius: 0 4px 4px 0;
				transition: .2s all;
			}
		}
	}
}


.login-content {
	h1 {
		font-size: 36px;
		color: #5fa281;
	}
	p {
		font-size: 14px;
		color: #6c6c6c;
		a {
			color: #5fa281;
		}
	}
	.or {
		position: relative;
		z-index: 1;
		&:before {
		    border-top: 1px solid #dfdfdf;
		    content:"";
		    margin: 0 auto; 
		    position: absolute;
		    top: 50%; left: 0; right: 0; bottom: 0;
		    z-index: -1;
		}
		span { 
		    background: #fff; 
		    padding: 0 15px; 
		}
	}
	form {
		width: 430px;
		margin: 0 auto;
		p {
			position: relative;
		}
		label {
			margin-bottom: 5px;
			font: bold 14px 'Montserrat';
			color: #5fa281;
			em {
				font-style: normal;
				font-size: 18px;
				color: $red;
			}
			&.error {
				display: block;
				width: 210px;
				padding: 9px 14px 8px 50px;
				background: url(../images/warning.png) no-repeat 13px center $red;
				font-weight: normal;
				font-size: 12px;
				color: $white;
				border-radius: 4px;
				position: absolute;
				top: 39px;
				right: -237px;
				cursor: default;
				&:after {
					left: auto;
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(217, 0, 0, 0);
					border-right-color: #d90000;
					border-width: 5px;
					margin-top: -5px;
				}
			}
		}
		input[type="text"],
		input[type="email"],
		input[type="password"],
		select {
			height: 65px;
			border-radius: 4px;
			&.error {
				background: url(../images/error.png) no-repeat right 8px center $white;
				border: 1px solid $red;
			}
		}
		.checkbox-wrapper {
			float: left;
		}
		.remember-me {
			float: left;
			font: bold 14px 'Montserrat';
			color: #5fa281;
		}
		.forgot-password {
			font: normal 14px 'Montserrat';
			color: #205a4c;
			text-decoration: underline;
		}
		.button {
			margin-top: 15px;
			padding: 0;
			background: none;
			&:hover {
				.name {
					background: #1e6554;
				}
			}
			.icon-wrapper {
				float: left;
				width: 64px;
				height: 58px;
				padding-top: 15px;
				background: #197a63;
				text-align: center;
				border-radius: 4px 0 0 4px;
			}
			.name {
				float: left;
				width: 366px;
				height: 58px;
				padding-top: 20px;
				background: #1c5043;
				font-family: 'Montserrat';
				border-radius: 0 4px 4px 0;
				transition: .2s all;
			}
		}
	}
}


/* Basket */
.basket-content {
	padding-top: 25px;
	.order-details-boxes {
		margin-bottom: 45px;
		ul {
			margin: 0;
			list-style: none;
			li {
				float: left;
				width: 200px;
				height: 70px;
				margin-right: 12px;
				padding: 15px;
				text-align: center;
				border: 1px solid #dbdbdb;
				h4 {
					font: bold 14px 'Montserrat';
					color: #205a4c;
				}
				p {
					font-size: 14px;
					color: #595959;
				}
				img {
					margin-top: 3px;
				}
			}
		}
	}
	.basket-table {
		width: 100%;
		margin: 0;
		margin-bottom: 3px;
		border: none;
		border-collapse: collapse;
		th {
			background: $white;
			font: bold 14px 'Montserrat';
			color: #205a4c;
			border-top: 1px solid #ededed;
			border-bottom: 1px solid #ededed;
		}
		td {
			border-bottom: 1px solid #ededed;
			&:first-child {
				width: 90px;
			}
		}
		h5 {
			font-size: 14px;
		}
		p {
			margin: 0;
		}
	}
	.totals-table {
		width: 100%;
		margin: 0;
		border: none;
		border-collapse: collapse;
		td {
			background: $white;
			color: #595959;
			border-bottom: 1px solid #ededed;
			&:last-child {
				text-align: right;
			}
		}
		tfoot {
			td {
				background: $white;
				font-weight: bold;
				font-size: 18px;
				color: #1c5043;
			}
		}
	}
	.button {
		margin: 0;
		margin-top: 20px;
		padding: 0;
		background: none;
		&:hover {
			.name {
				background: #1e6554;
			}
		}
		.icon-wrapper {
			float: left;
			width: 64px;
			height: 58px;
			padding-top: 15px;
			background: #197a63;
			text-align: center;
			border-radius: 4px 0 0 4px;
		}
		.name {
			float: left;
			width: 260px;
			height: 58px;
			padding-top: 20px;
			background: #1c5043;
			font-family: 'Montserrat';
			border-radius: 0 4px 4px 0;
			transition: .2s all;
		}
	}
	.coupon-box {
		width: 250px;
		h6 {
			margin-top: 15px;
			font-size: 12px;
			color: #595959;
		}
		p {
			margin: 0;
			margin-bottom: 5px;
			font-size: 12px;
			color: #6c6c6c;
		}
		input[type="submit"] {
			margin: 0;
			padding: 7px 25px;
			background: #1c5043;
			font: normal 14px 'Montserrat';
			&:hover {
				background: #1e6554;
			}
		}
	}
	.for-more-information {
		padding: 25px;
		background: #f3f3f3;
		p {
			margin: 0;
			font-size: 14px;
			color: #26343f;
		}
	}
}


/* My Account */
.my-account-content {
	h2 {
		font: normal 30px 'Montserrat';
		color: #939393;
		span {
			color: #5fa281;
		}
	}
	.my-account-menu {
		margin-top: 60px;
		border: 1px solid #e6e6e6;
		border-radius: 4px;
		ul {
			margin: 0;
			list-style: none;
			li {
				a {
					display: block;
					height: 84px;
					padding: 15px 40px;
					border-bottom: 1px solid #e6e6e6;
					transition: .1s all;
					&:hover {
						background: #f9f9f9;
						.icon {
							opacity: 0;
						}
						.icon-hover {
							opacity: 1 !important;
						}
						h3 {
							color: #252525;
						}
					}
				}
				&.my-details-li {
					.icon {
						width: 38px;
						height: 49px;
						background: url(../images/my-details-menu.png) no-repeat;
						left: 5px;
					}
					.icon-hover {
						width: 38px;
						height: 49px;
						background: url(../images/my-details-menu-hover.png) no-repeat;
						left: 5px;
					}
				}
				&.order-history-li {
					.icon {
						width: 45px;
						height: 54px;
						background: url(../images/order-history-menu.png) no-repeat;
					}
					.icon-hover {
						width: 45px;
						height: 54px;
						background: url(../images/order-history-menu-hover.png) no-repeat;
					}
				}
				&.my-cv-li {
					.icon-wrapper {
						margin-top: 7px;
					}
					.icon {
						width: 36px;
						height: 44px;
						background: url(../images/my-cv-menu.png) no-repeat;
						left: 5px;
					}
					.icon-hover {
						width: 36px;
						height: 44px;
						background: url(../images/my-cv-menu-hover.png) no-repeat;
						left: 5px;
					}
				}
				&.my-favorites-li {
					.icon-wrapper {
						margin-top: 3px;
					}
					.icon {
						width: 44px;
						height: 38px;
						background: url(../images/my-favorites-menu.png) no-repeat;
						top: 8px;
					}
					.icon-hover {
						width: 44px;
						height: 38px;
						background: url(../images/my-favorites-menu-hover.png) no-repeat;
						top: 8px;
					}
				}
				&.messages-li {
					.icon {
						width: 50px;
						height: 39px;
						background: url(../images/messages-menu.png) no-repeat;
						top: 8px;
					}
					.icon-hover {
						width: 50px;
						height: 39px;
						background: url(../images/messages-menu-hover.png) no-repeat;
						top: 8px;
					}
				}
				&.change-password-li {
					.icon-wrapper {
						margin-top: 2px;
					}
					.icon {
						width: 36px;
						height: 47px;
						background: url(../images/change-password-menu.png) no-repeat;
						left: 5px;
					}
					.icon-hover {
						width: 36px;
						height: 47px;
						background: url(../images/change-password-menu-hover.png) no-repeat;
						left: 5px;
					}
				}
				&.preferences-li {
					.icon-wrapper {
						margin-top: 4px;
					}
					.icon {
						width: 47px;
						height: 47px;
						background: url(../images/preferences-menu.png) no-repeat;
					}
					.icon-hover {
						width: 47px;
						height: 47px;
						background: url(../images/preferences-menu-hover.png) no-repeat;
					}
				}
				.icon-wrapper {
					float: left;
					width: 90px;
					height: 50px;
					position: relative;
					&:hover {
		
					}
					i {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						transition: .1s all;
						&.icon-hover {
							opacity: 0;
						}
					}
				}
				.my-account-menu-text {
					float: left;
					margin-top: 6px;
					h3 {
						font-size: 18px;
						font-weight: bold;
						color: #909090;
						transition: .1s all;
					}
					p {
						font-size: 11px;
						color: #939393;
					}
				}
			}
		}
	}
}


/* My Details */
.my-details-form {
	width: 430px;
	margin: 0 auto;
	p {
		position: relative;
		&.note {
			margin-top: 10px;
			color: #939393;
		}
	}
	label {
		margin-bottom: 5px;
		font: bold 14px 'Montserrat';
		color: #5fa281;
		em {
			font-style: normal;
			font-size: 18px;
			color: $red;
		}
		&.error {
			display: block;
			width: 210px;
			padding: 9px 14px 8px 50px;
			background: url(../images/warning.png) no-repeat 13px center $red;
			font-weight: normal;
			font-size: 12px;
			color: $white;
			border-radius: 4px;
			position: absolute;
			top: 44px;
			right: -237px;
			cursor: default;
			&:after {
				left: auto;
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(217, 0, 0, 0);
				border-right-color: #d90000;
				border-width: 5px;
				margin-top: -5px;
			}
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="password"],
	select {
		height: 65px;
		border-radius: 4px;
		&.error {
			background: url(../images/error.png) no-repeat right 8px center $white;
			border: 1px solid $red;
		}
	}
	select {
		margin: 0;
	}
	.remember-me {
		font: bold 14px 'Montserrat';
		color: #5fa281;
	}
	.forgot-password {
		font: normal 14px 'Montserrat';
		color: #205a4c;
		text-decoration: underline;
	}
	.button {
		margin-top: 15px;
		padding: 0;
		background: none;
		&:hover {
			.name {
				background: #1e6554;
			}
			&.cancel {
				.icon-wrapper {
					background: #f41212;
				}
			}
		}
		&.cancel {
			float: left;
			width: 165px;
			.icon-wrapper {
				background: #d00606;
			}
			.name {
				width: 100px;
				background: #a40707;
			}
		}
		&.save {
			float: right;
			width: 255px;
			.name {
				width: 191px;
			}
		}
		.icon-wrapper {
			float: left;
			width: 64px;
			height: 58px;
			padding-top: 15px;
			background: #197a63;
			text-align: center;
			border-radius: 4px 0 0 4px;
			transition: .2s all;
		}
		.name {
			float: left;
			height: 58px;
			padding-top: 20px;
			background: #1c5043;
			font-family: 'Montserrat';
			border-radius: 0 4px 4px 0;
			transition: .2s all;
		}
	}
}


/* Order history */
.order-history-table {
	width: 100%;
	margin: 0;
	border: none;
	border-collapse: collapse;
	border-radius: 4px;
	th {
		background: $white;
		font: bold 14px 'Montserrat';
		color: #205a4c;
		border-bottom: 1px solid #ededed;
	}
	tr {
		cursor: pointer;
		&:hover {
			td {
				background: #f9f9f9;
			}
		}
		&:last-child {
			td {
				border-bottom: none;
			}
		}
	}
	td {
		background: $white;
		color: #595959;
		border-bottom: 1px solid #ededed;
		transition: .2s all;
		&:last-child {
			text-align: right;
		}
	}
}


/* My CVs */
.my-cvs-content {
	h2 {
		font: bold 24px 'Montserrat';
		color: #205a4c;
	}
	.my-cvs-tabs {
		margin-top: 60px;
		.button {
			width: 100%;
			margin-bottom: 1px;
			padding: 25px 30px;
			background: #dfdfdf;
			font: bold 14px 'Montserrat';
			color: #525252;
			text-align: left;
			&:hover {
				background: #eaeaea;
			}
			&.active {
				background: #205a4c;
				color: $white;
			}
		}
	}
	.table-wrapper {
		margin-top: 30px;
	}
}
.my-cvs-table {
	width: 100%;
	margin: 0;
	border: none;
	border-collapse: collapse;
	tr {
		&:hover {
			td {
				background: #f9f9f9;
			}
		}
		&:last-child {
			td {
				border-bottom: none;
			}
		}
	}
	td {
		padding: 15px;
		background: $white;
		&:first-child {
			width: 90px; 
		}
		&:last-child {
			padding-right: 20px;
		}
		border-bottom: 1px solid #d6d6d6;
	}
	h3 {
		font-size: 14px;
		font-weight: bold;
		color: #205a4c;
	}
	p {
		margin: 0;
		font-size: 10px;
		color: #9b9b9b;
	}
	i {
		display: inline-block;
		margin-left: 15px;
		cursor: pointer;
		&.download {
			width: 27px;
			height: 22px;
			background: url(../images/download.png) no-repeat 0 -22px;
			&:hover {
				background-position: 0 0;
			}
			&.unavailable {
				background-position: bottom;
			}
		}
		&.edit {
			width: 23px;
			height: 22px;
			background: url(../images/edit.png) no-repeat 0 -22px;
			&:hover {
				background-position: top;
			}
			&.unavailable {
				background-position: bottom;
			}
		}
		&.buy-now {
			width: 25px;
			height: 24px;
			background: url(../images/buy-now.png) no-repeat 0 -24px;
			&:hover {
				background-position: top;
			}
			&.unavailable {
				background-position: bottom;
			}
		}
		&.money {
			width: 34px;
			height: 32px;
			background: url(../images/money.png) no-repeat 0 -32px;
			&:hover {
				background-position: top;
			}
			&.unavailable {
				background-position: bottom;
			}
		}
		&.message {
			width: 28px;
			height: 22px;
			background: url(../images/message.png) no-repeat 0 -22px;
			&:hover {
				background-position: top;
			}
			&.unavailable {
				background-position: bottom;
			}
		}
	}
}


/* Favorites */
.favorites-table {
	width: 100%;
	margin: 0;
	border: none;
	border-collapse: collapse;
	border-radius: 5px;
	tr {
		&:last-child {
			td {
				border-bottom: none;
			}
		}
		&:hover {
			td {
				background: #fafafa;
			}
		}
	}
	td {
		padding: 16px;
		background: $white;
		&:first-child {
			width: 90px;
		}
		&:last-child {
			padding-right: 30px;
		}
		border-bottom: 1px solid #d6d6d6;
	}
	h3 {
		font-size: 14px;
		font-weight: bold;
		color: #205a4c;
	}
	p {
		margin: 0;
		font-size: 10px;
		color: #9b9b9b;
	}
	i {
		display: inline-block;
		margin-left: 15px;
		cursor: pointer;
		&.remove-favorite {
			width: 25px;
			height: 23px;
			background: url(../images/remove-favorite.png) no-repeat 0 -23px;
			&:hover {
				background-position: 0 0;
			}
		}
		&.link {
			width: 23px;
			height: 21px;
			background: url(../images/link.png) no-repeat 0 -21px;
			&:hover {
				background-position: top;
			}
		}
	}
}


/* Change password */
.change-password-form {
	width: 430px;
	margin: 0 auto;
	p {
		position: relative;
	}
	label {
		margin-bottom: 5px;
		font: bold 14px 'Montserrat';
		color: #5fa281;
		em {
			font-style: normal;
			font-size: 18px;
			color: $red;
		}
		&.error {
			display: block;
			width: 210px;
			padding: 9px 14px 8px 50px;
			background: url(../images/warning.png) no-repeat 13px center $red;
			font-weight: normal;
			font-size: 12px;
			color: $white;
			border-radius: 4px;
			position: absolute;
			top: 44px;
			right: -237px;
			cursor: default;
			&:after {
				left: auto;
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(217, 0, 0, 0);
				border-right-color: #d90000;
				border-width: 5px;
				margin-top: -5px;
			}
		}
	}
	input[type="password"] {
		height: 65px;
		border-radius: 4px;
		&.error {
			background: url(../images/error.png) no-repeat right 8px center $white;
			border: 1px solid $red;
		}
	}
	.button {
		margin-top: 15px;
		padding: 0;
		background: none;
		&:hover {
			.name {
				background: #1e6554;
			}
			&.cancel {
				.icon-wrapper {
					background: #f41212;
				}
				.name {
					background: #c10808;
				}
			}
		}
		&.cancel {
			float: left;
			width: 165px;
			.icon-wrapper {
				background: #d00606;
			}
			.name {
				width: 100px;
				background: #a40707;
			}
		}
		&.save {
			float: right;
			width: 255px;
			.name {
				width: 191px;
			}
		}
		.icon-wrapper {
			float: left;
			width: 64px;
			height: 58px;
			padding-top: 15px;
			background: #197a63;
			text-align: center;
			border-radius: 4px 0 0 4px;
			transition: .2s all;
		}
		.name {
			float: left;
			height: 58px;
			padding-top: 20px;
			background: #1c5043;
			font-family: 'Montserrat';
			border-radius: 0 4px 4px 0;
			transition: .2s all;
		}
	}
}


/* Preferences */
.preferences-table {
	width: 100%;
	margin: 0;
	border: none;
	border-collapse: collapse;
	border-radius: 4px;
	tr {
		&:last-child {
			td {
				border-bottom: none;
			}
		}
		&:hover {
			td {
				background: #f9f9f9;
			}
		}
	}
	td {
		padding: 25px;
		background: $white;
		border-bottom: 1px solid #d6d6d6;
		font-size: 14px;
		font-weight: bold;
		color: #595959;
		transition: .2s all;
	}
	fieldset {
		margin: 0;
	}
}



@media only screen and (max-width: 1016px) {
	
	.header {
		.navigation-main {
			ul {
				li {
					a {
						padding: 25px 20px 28px;
					}
				}
			}
		}
	}

	.page-header {
		.page-title-details {
			.page-title {
				width: 600px;
				&.page-title-normal {
					width: 780px;
				}
				&.extended {
					width: 780px;
				}
			}
		}
		.cv-navigation {
			li {
				a {
					width: 130px;
				}
			}
		}
		.cv-actions {
			border: none;
			ul {
				li {
					a {
						width: 60px;
					}
				}
			}
		}
	}

	.slideshow {
		.slick-arrow {
			&.slick-prev {
				background-position: left;
				left: 20px;
			}
			&.slick-next {
				background-position: right;
				right: 20px;
			}
		}
	}

	.reviews-wrapper {
		width: 650px;
	}

	.cv-container {
		width: auto;
		max-width: 997px;
	}

	section {
		&.home-designs {
			background: $primary-color;
			.designs-list {
				margin-top: 70px;
			}
			.button {
				width: 190px;
				margin-top: 30px;
				padding: 19px 5px;
				background: none;
				font-family: 'Montserrat';
				font-size: 14px;
				color: #a3a3a3;
				border: 1px solid #52606c;
				&:hover {
					background: #1e4b40;
					color: $white;
					border-color: #2d6d5d;
				}
			}
			.design-item {
				.design-details {
					h4 {
						float: left;
						height: 43px;
						padding: 11px 15px;
						font-size: 14px;
						color: #a3a3a3;
					}
					.price {
						float: right;
						padding: 10px;
						text-align: center;
						color: #a3a3a3;
						border-left: 1px solid #354450;
					}
				}
			}
		}

		&.features {
			.feature-list {
				width: 680px;
			}
		}
	}

}

@media only screen and (max-width: 998px) {

	.header {
		.navigation-main {
			ul {
				li {
					&:last-child {
						a {
							padding: 25px 16px 28px 28px;
						}
					}
				}
			}
		}
	}

	.page-header {
		.page-title-details {
			.purchase {
				width: 220px;
			}
		}
	}
	
	section {

		&.likes-reviews-downloads {
			background: none;
		}

		&.designs {
			.designs-list {
				width: 950px;
				margin: 0 auto;
			}
			.design-item {
				.design-details {
					h4 {
						width: 215px;
					}
				}
			}
		}

		&.home-designs {
			background: $primary-color;
			.design-item {
				.design-details {
					h4 {
						width: 215px;
					}
				}
			}
		}


	}

	.cv-container {
		width: 980px !important;
	}

	.additional-filters {
		width: 950px;
	}

}